body, html {
  
  background-image: linear-gradient(#722, #922); 
  background-size: 100%;
 
}
header nav a {
  background: #999;
}

header nav a:hover {
  background: #DDD;
  text-shadow: 2px 2px 3px #555;
  color: #B22;
}
header a.active {
  background: #DDD;
  text-shadow: 2px 2px 3px #555;
  color: #B22;
}
#bottom_nav li a.active {
  background: #CCC;
  text-shadow: 2px 2px 4px #444;
  color: #A22;
}
footer p {
  text-align: right;
  color: #DDD;
  margin: 30px 10px 0px 10px;
  padding: 30px;
  position: relative;
  top: 20px;
  
}


#bottom_nav a:hover {
  background: #CCC;
  text-shadow: 2px 2px 4px #444;
  color: #A22;
}
article {
  border: 3px solid #222F;
  border-radius: 10px;
}
article p {
    
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
article h3 {
  margin: 10px 20px -20px 20px;
  padding: 5px;
  border-bottom: 2px solid #222;

}
.background img {
  float: right;
  margin: 5px;
  border: 2px solid #222;
}

#order_tables {
  
  display:flex;
  border: 2px solid #222;
  padding: 10px;
  
  background: #999;
  margin: 0px 20px 20px 20px;
  border-radius: 5px;
  
  
}
#order_tables table {
  border: 2px solid #222;
  margin: 5px;
  
}


th {
  background: #822;
  color: #CCC;
  padding: 8px;
  border-bottom: 1px solid #222;
  text-shadow: 1px 1px 2px #222;
  
}

td {
  background: #DDD;
  color: #222;
  
  padding: 8px; 
}


#original_order table:nth-last-child() {
  border-bottom: none;
}
h2 {
  font-size: 48px;
  text-align: center;
  color: #EEE;
  border-bottom: 4px solid #CCCF;
  text-shadow: 3px 3px 5px #222;
  
}

header h1 {
  color: #DDD;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 3px 3px 5px #2226;
}

#menu-icon {
  display: none;
  width: 50px;
  height: 30px;
  background: #999;
  
  border: 2px solid #222;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  color: #DDD;
  font-weight: bold;
  text-shadow: 2px 2px 4px #222;
  padding: 5px 20px 5px 10px;
}

#menu-icon:hover {
  background: #DDD;
  text-shadow: 2px 2px 3px #555;
  color: #B22;
}
.dropdown {
  display:none;
}

article {
  background: #DDD;
  margin: 30px 0px 20px 0px;
}

 /* Slideshow */
 .slideshow {
  background: #DDD;
 
  height: 315px;
  width: 500px;
  border: 2px solid #222;
  border-radius: 10px;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  
}

.image {
  width: 100%;
  height: 100%;
  display:block;
  margin: 0;
}

.slide {
  float:left;
  margin: 5px;
  border: 2px solid #222;
  border-radius: 5px;
  height: 300px;
  width: 485px;
  
}
.slide-wrapper {
  width: 2000px;
  animation: slide 20s ease-in-out infinite;
}
@keyframes slide {
  10% {
    transform: translateX(0px);
  }
  15%, 30% {
    transform: translateX(-499px);
  }
  35%, 50% {
    transform: translateX(-998px);
  }
  55%, 70% {
    transform: translateX(-1497px);
  }
  75%, 90% {
    transform: translateX(0px);
  }
}

/* Large sized Screens */
/*
@media (min-width: 1300px){
  .books, .movies{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container {
    margin: 0 auto;
    width: 1200px;
    
    padding: 0px 20px;
    border: 3px solid #111F;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
    
    background-image: url("../bilder/backgroundCherry.jpg");
    background-size: 100%;
    
    
  }
  header{
    background: #A22;
    padding: 10px 20px 60px 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    
    background-image: url("../bilder/Aslan.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #000;
    
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
    border-bottom: 3px solid #111;
    
  }
  
  .content {
    
    padding: 0px 10px 30px 10px;
    height: 100%;
    margin: 5px 0;
    margin-top: -10px;
    
  }
  footer {
   
    background-color: #000;
    padding: 20px 10px 40px 10px;
    margin: 5px -20px 0px -20px;
    border-top: 3px solid #111;
  }
  
  .book, .movie {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #DDD;
    width: 370px;
    
    border: 3px solid #222F;
    border-radius: 10px;
    
    
  }
  

  
  
  nav li {
    list-style-type: none;
    float: left;
  }
  nav a {
    background: #777;
    display:block;
    margin-left: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #EEE;
    padding: 8px 0px;
    width: 190px;
    text-align: center;
    border: 2px solid #222C;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #222;
    
  }
  .slideshow{
    margin: 50px 0px 10px 28%;
  }
  
  #bottom_nav {
    margin: -10px 0px -80px 0px;
  }
  footer p {
    position: relative;
    top: 40px;
  }
 
    
  
}
*/
/* Medium sized Screens */

@media (min-width: 900px){
  .books, .movies{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container {
    margin: 0 auto;
    width: 800px;
    
    padding: 0px 20px;
    border: 3px solid #111F;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    /*
    background-image:  repeating-linear-gradient(#CDCDCD, #BCBCBC, #CDCDCD); */
    background-image: url("../bilder/backgroundCherry.jpg");
    background-size: 100%;
    
    
    
  }
  header{
    background: #A22;
    padding: 10px 20px 60px 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    
    background-image: url("../bilder/Aslan.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 0px;
    background-color: #000;
    
    
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
    border-bottom: 3px solid #111;
    
    
    
  }
  
  .content {
    
    padding: 0px 10px 30px 10px;
    height: 100%;
    margin: 5px 0;
    margin-top: -10px;
    
     
  }
  footer {
    
    background-size: 30%;
    background-position-x: 85%;
    background-color: #000;
    padding: 20px 10px 40px 10px;
    margin: 5px -20px 0px -20px;
    border-top: 3px solid #111;
    
  }
  
  .book, .movie {
    
    width: 370px;
    
    
    
  }
  
  
  
  
  
  nav li {
    list-style-type: none;
    float: left;
    
  }
  nav ul {
    margin-left: -40px;
  }
  header nav a{
    background: #999;
    display: block;
    margin-left: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #EEE;
    padding: 7px 0px;
    width: 190px;
    text-align: center;
    border: 2px solid #222C;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #222;
    
  }
  #bottom_nav a{
    background: #777;
    display: block;
    margin-left: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #EEE;
    padding: 7px 0px;
    width: 190px;
    text-align: center;
    border: 2px solid #222C;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #222;
    
  }
 
  
  
  /* Slideshow */
  .slideshow {
    margin: 50px 0px 10px 20%;    
  }

  #bottom_nav {
    margin: -20px 0px 0px 7px;
  }
  footer p {
    margin-bottom: -30px;
    margin-right: -10px;
  }
 
} 


/* Tablets */
@media (max-width: 900px) and (min-width: 600px){
  .books, .movies{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container {
    margin: 0 auto;
    width: 600px;
    
    padding: 0px 20px;
    border: 3px solid #111F;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    /*
    background-image:  repeating-linear-gradient(#CDCDCD, #BCBCBC, #CDCDCD); */
    background-image: url("../bilder/backgroundCherry.jpg");
    background-size: 100%;
    clear:both;
    
  }
  header{
    background: #A22;
    padding: 10px 20px 60px 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    
    background-image: url("../bilder/Aslan.jpg");
    background-repeat: no-repeat;
    background-size: 77%;
    background-position-x: -49px;
    background-position-y: 0px;
    
    background-color: #000;
    
    
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
    border-bottom: 3px solid #111;
    
    
    
  }
  
  .content {
    
    padding: 0px 10px 30px 10px;
    height: 100%;
    margin: 5px 0;
    margin-top: -10px;
    
     
  }
  footer {
     
    background-color: #000;
    padding: 20px 10px 40px 10px;
    margin: 5px -20px 0px -20px;
    border-top: 3px solid #111;
  }
  
  .book, .movie {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #DDD;
    width: 370px;
    
    border: 3px solid #222F;
    border-radius: 10px;
    
    
  }
  
  
  
  
  
  nav li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    
  }
  nav ul {

    margin-top: 10px;
    margin-left: -40px;
    margin-bottom: -20px;
    
  }
  header nav ul { 

		display: none;
		
  }

  footer nav {
    display:none;
   
  }
 
  footer p {
    margin: 0px 10px -80px 0px;
    position: relative;
    top: -30px;
    clear: both;
  }
  
  
  
  /* Slideshow */
  .slideshow {
    margin: 50px 0px 10px 7.5%;    
  }
 
  #menu-icon {
    display: block;
    
    
  }
  .dropdown {
    display:flex;
    position: absolute;
    
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    left: -82px;
    top: 45px;
    
    background-color: #BBB;
    min-width: 160px;
    box-shadow: 0px 4px 12px 0px #222;
    z-index: 1;
    
    border: 2px solid #222;
    
    text-shadow: 2px 2px 3px #555;
    font-size: 18px;
    font-weight: bold;
    
}

.dropdown-content a {
    color: #EEE;
    background: #999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #222;
    
    
}
.dropdown-content:nth-last-child(){
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #DDD;
  color: #B22;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

}