body {
  background-color: #AAA3;
  color: #111D;
}
h1, h2, h3, p, li, a {
  font-family: Arial, Helvetica, sans-serif
}
.header h1 {
  font-size: 320%;
  color: #111D;
  font-weight: bolder;
}

.header li , a {
  color:#302F;
  font-weight: bold;
  font-size: 103%;
  text-decoration: none;
  
}
.header a:hover{
  text-decoration: underline;
  font-weight: bolder;
}

.content h2 {
  font-size: 220%;
  padding-top: 5px;
  font-weight: bolder;
}

.content p, li, h2 {
  font-weight: bold;
  
  
}
.content figure + p {
  padding-top: 10px;
}

.Adress {
  padding-top: 10px;
  color: #502;
  
 
}

footer {
  text-align: right;
  padding-top: 50px;
  font-weight: bolder;
  
}
.content h2 + p {
  color: red;
}

.content li:nth-child(3) {
  color: #F0F;
}

footer p::after,
footer p::before {
  content: "-";
}




