html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Erik Meyers Reset */

body {
  
  background-color: rgba(136, 204, 255, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1F1F1F;
  
}
main {
  align-content: center;
  margin: 15px;
}
header {
  border: 1px solid #222;
  background: #EEE;
  height: 410px;
  background-image: url("../images/layout/header.png");
}
header h1 {
  font-weight: bolder;
  position: relative;
  border: 2px solid #1F1F1F;
  border-radius: 2px;
  opacity: 0.6;
  background-color: #fff;
  padding: 10px;
  display: inline-flex;
}
footer {
  border-top: 3px solid #FF9933;
  border-bottom: solid thin #1F1F1F;
  background: #FFF;
  text-align: center;
  padding: 25px;
  color: #1F1F1F;
}


nav a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 2px;
  color: #1F1F1F;
}
nav ul {
  list-style-type: none;
}
nav a:hover, a:active{
  background: #CDC9C5;
  color: #FFF;
  text-shadow: 1px 1px 2px #555;
  border: solid thin #1F1F1F;
}
nav .active {
  background: #CDC9C5;
  color: #FFF;
  text-shadow: 1px 1px 2px #555;
  border: solid thin #888;
}

nav {
  border-bottom: 3px solid #FF9933;
  background: #FFF;
}
nav a:focus {
  background: #CDC9C5;
  color: #FFF;
  text-shadow: 1px 1px 2px #555;
  outline: none;
  border: solid thin #1F1F1F;
}
main a {
  color: #1F1F1F;
}
main a:focus, a:hover {
  font-weight: bold; 
  outline: none;   
}
form :focus {
  background-color: rgba(136, 204, 255, 0.4);;
  background-size: contain;
  outline: none;
  outline-style: none;
  border: 1px solid #444;
}               

.content, .images {
  background-color: #EFEFEF;
  padding: 10px;
  margin: 0px;
  border: 2px solid #1F1F1F;
}

.images img {
  border: 1px solid #1F1F1F;
  margin: 10px 10px;
  max-width: 300px;
  height: auto;
}
article {
  background: #FFF;
  border: 1px solid #1F1F1F;
  margin: 5px;
  padding: 10px;
  color: #1F1F1F;
  box-shadow: 2px 2px 2px #888;
  border-radius: 5px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  padding: 5px;
  margin: 5px;
}
article h2 {
  margin: 0px;
  padding: 0;
}
article h3 {
  font-weight: bold;
  font-size: 20px;
  
  clear:both;
}
article h4 {
  font-weight: bold;
  font-size: 16px;
}
article .date {
  font-style: italic;
  padding: 2px;
  
}
article p {
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 16px;
}

article li {
  list-style-type: none;
}

.names {
  background: #EEE;
  box-shadow: 2px 2px 2px #777;
  padding: 5px;
  border: 1px solid #FF9933;
  margin-top: 10px;
}
#konrad {
  border: 1px solid #1F1F1F;
  height: auto;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  float: left;
}
form {
  padding: 0.2em;
  font-size: 18px;
}
form label {
  padding: .5em;
}
form input, select {
  padding: .3em;
}

form .row {
  margin-bottom: .3em;
}
form input[type="submit"]:hover, input[type="submit"]:focus {
  background: rgb(197, 233, 255);
  border: 1px solid #1F1F1F;
}

table {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
}
table tr{
  background: #eee;
  font-weight: bold;
  margin: 0.5em;
  border: solid thin #1F1F1F;
  color: #333;
}
table th {
  padding: 0.3em;
  margin: 0.2em;
}
table td {
  padding: 0.3em;
}
.table {
  max-width: 700px;
  min-width: 350px;
  align-content: center;
}
th {
  font-weight: bold;
  font-size: 20px;
  background: #999;
  color: #FFF;
  border-bottom: solid 4px #1F1F1F;
}
tr:nth-of-type(even){
  background: #bbb;
  color: #fff;
  text-shadow: 1px 1px 1px #555;
  
}


@media (max-width: 43.5em){
  
  main {
    min-width: 350px;
  }
  header {
    min-width: 450px;
  }
  header h1 {
    font-size: 32px;
    top: 150px;
    left: 50px;
  }
  nav {
    padding-top: 1px;
    zoom: 0%;
  }
  nav ul {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
  }
  nav li {
    margin: 6px 0px 6px 0px;
  }
  nav a {
    padding: 4px;
    text-align: center; 
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  
  .jobb {
    float: left;
    display: block;
    margin: 5px 10px 2px 0px; 
  }
  .history {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #konrad {
    width: min-content;
    margin: 10px auto;
  }
  #konrad img {
    width: 300px;
  }
  form {
    width: 60%;
    
  }
  
  form .row label {
    width: 100%;
    display: block;
    padding: 0.2em;
    margin: 0.3em;
  }
  
  form input, select, textarea {
    margin-left: 10px;
    width: 250px;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table td{
    border: none;
    position: relative;
    padding-left: 50%;
  }
  table td:not(:last-child){
    border-bottom: 1px solid #1F1F1F;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Förnamn:";
  }
  td:nth-of-type(2):before {
    content: "Efternamn:";
  }
  td:nth-of-type(3):before {
    content: "Bostadsadress:"
  }
  td:nth-of-type(4):before {
    content: "Postnr:"
  }
  td:nth-of-type(5):before {
    content: "Postadress:"
  }
  #member_info {
    display:flex;
    justify-content: space-around;
  }

}
/* 700px = 16*43.5em 1000px = 16*62.5em */
@media (min-width: 43.5em) and (max-width: 62.5em){
 
  header h1 {
    font-size: 38px;
    top: 150px;
    left: 50px;
  }
  nav ul {
    margin: 10px;
    display: flex;
    flex-direction: column;
    
  }
  
  nav li {
    margin: 6px 0px 6px 0px;
  }
  nav a {
    padding: 4px;
    text-align: center; 
  }
  nav {
    padding-top: 1px;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    clear:both;
  }

  .jobb {
    float: left;
    display: block;
    margin: 5px 10px 0px 0px; 
    
  }
  #jobbartikel {
    padding-bottom: 20px;
  }
 
  #konrad img {
    width: 300px;
  }
  .names {
    max-width: 400px;
  }
  form {
    width: 60%;
    
  }
  
  form .row label {
    width: 100%;
    display: block;
    padding: 0.2em;
    margin: 0.3em;
  }
  
  form input, select, textarea {
    margin-left: 10px;
    width: 300px;
  }
  #member_info {
    display:flex;
    justify-content: space-around;
  }
  table th:not(:last-child), td:not(:last-child){
    border-right: solid thin #1F1F1F;
  }

}

@media (min-width: 62.5em){
  
  main {
    clear:both;
    max-width: 80%;
    min-width: 900px;
    display:flex;
    justify-content: space-around;
    margin: 20px auto;
    
  }
  .english{
    flex-direction: row-reverse;
  }
  .english .content {
    margin-left: 10px;
    margin-right: 0px;
  }
  
  
  header {
    border: none;
    border-bottom: solid thin #1F1F1F;
  }
  header h1 {
    font-size: 38px;
    top: 150px;
    left: 50px;
  }
 
  nav ul {
    margin: 0px 0px 0px 0px;
    position: relative;
    background: #EEE;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    min-width: 900px;
    max-width: 75%;
  }
  nav li {
    margin: 0px 0px;
    float:left;
  }
  nav li a {
    padding: 9px 15px 9px 15px;
    text-align: center;
    font-size: 18px; 
    border:none;
    
  }
  nav {
    display:flex;
    justify-content: space-around;
    background: #EEE;
  }
  .content {
    float:left;
    width: 80%;
    margin-right: 10px;
  }
  
  .images {
    width: 320px;
  }
  
  
  .jobb {
    float: left;
    display: block;
    margin: 5px 10px 0px 0px; 
    
  }
  #jobbartikel {
    padding-bottom: 40px;
  }
 
  #konrad img {
    width: 300px;
  }
  .names {
    max-width: 400px;
  }
  form {
    width: 60%;
  }
  
  form .row label {
    width: 100%;
    display: block;
    padding: 0.2em;
    margin: 0.3em;
  }
  
  form input, select, textarea {
    margin-left: 10px;
    width: 300px;
  }
  #member_info {
    display:flex;
    justify-content: space-around;
  }
  table th:not(:last-child), td:not(:last-child){
    border-right: solid thin #1F1F1F;
  }
  table td {
    font-size: 18px;
  }
  table th {
    font-size: 22px;
  }
  
}


